.bubble {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0, 102, 111, 1) 0%, rgba(2, 140, 157, 1) 100%);
    color: rgba(204, 255, 255, 1);
    max-width: 350px;
}

.messageTime {
    font-size: 12px;
    margin: 3px 10px;
}
.bubble.own {
    align-items: flex-end;
}
.bubble.own .messageText {
    background: linear-gradient(90deg, rgba(128, 193, 194, 1) 0%, rgba(154, 209, 210, 1) 100%);
    color: rgb(6, 33, 35);
}